<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <title>SQL Formatter</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="../js/vue-clipboard.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/skin.css" />
    <script src="../js/js-yaml.min.js"></script>


</head>

<body>
    <!--[if lt IE 9]><div class="notice chromeframe">您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank" href="http://browsehappy.com">立即升级</a></div><![endif]-->

    <div id="param-div" class="tool-div">
        <p style="text-align: center; color: black;font-size: 20px"><b> {{ title }} </b></p>
        <table style="padding: 5px">
            <tr>
                <td>
                    <label class="input-label">Line Feed Keywords<span style="font-size: 12px">(editable)</span>:</label>
                </td>
                <td><input class='input-field' v-model="LineFeedKeywords"></td>
            </tr>
        </table>
        <textarea v-model="sql" class="input-textarea">
                </textarea>
        <table style="width:495px">
            <tr>
                <td align="center" valign="middle"><button class="function-button" v-on:click="formatSQL">Format SQL</button></td>
                <td align="center" valign="middle"><button class="function-button" v-on:click="compressSQL">Compress SQL</button></td>
            </tr>
        </table>
        <div class='result-div'>
            <div class="toolbar" v-clipboard:copy="content" v-clipboard:success="onCopy" v-clipboard:error="onError">copy</div>
            <pre class="result-pre"><code v-html="content"></code></pre>
        </div>
    </div>
    <script>
        var converter = new Vue({
            el: '#param-div',
            data: {
                title: 'SQL Formatter',
                LineFeedKeywords: ['create', 'alter', 'insert', 'select', 'update', 'delete', 'drop', 'show'],
                sql: 'Input SQL here',
                content: ''
            },
            methods: {
                formatSQL: function() {
                    this.content = "format function not finished yet\ntry to use navicat plz :)";
                },
                compressSQL: function() {
                    console.log(this.sql);
                    var sqlList = this.sql.split("\n");
                    console.log(sqlList);
                    var result = '';
                    var isFirst = new Boolean;
                    isFirst = true;
                    for (i in sqlList) {
                        if ("" != sqlList[i]) {
                            var lineFeed = new Boolean;
                            lineFeed = false;
                            for (j in this.LineFeedKeywords) {
                                if (sqlList[i].substr(0, this.LineFeedKeywords[j].length).toLowerCase() == this.LineFeedKeywords[j].toLowerCase())
                                    lineFeed = true;
                            }
                            if (lineFeed) {
                                if (isFirst) result += sqlList[i].trim() + " ";
                                else result += '\n' + sqlList[i].trim() + " ";
                                isFirst = false;
                            } else if (sqlList[i].trim().substr(0, 2) == "--") {
                                if (isFirst) result += sqlList[i].trim() + "\n";
                                else result += '\n' + sqlList[i].trim() + "\n";
                                isFirst = true;
                            } else {
                                result += sqlList[i].trim() + " ";
                                isFirst = false;
                            }
                        }
                    }
                    this.content = result;
                },
                onCopy: function() {
                    alert("copy sucess")
                },
                onError: function() {
                    alert("copy error")
                }
            }
        })
    </script>
</body>

</html>