<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <title>Map Key Converter</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="../assets/js/vue-clipboard.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/skin.css" />
    <script src="../assets/js/js-yaml.min.js"></script>


</head>

<body>
    <!--[if lt IE 9]><div class="notice chromeframe">您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank" href="http://browsehappy.com">立即升级</a></div><![endif]-->

    <div id="param-div" class="tool-div">
        <p style="text-align: center; color: black;font-size: 20px"><b> {{ title }} </b></p>
        <table>
            <tr>
                <td><label class="input-label">Old Map Name:</label></td>
                <td><input readonly class='input-field' v-model="oldMapName"></td>
            </tr>
            <tr>
                <td><label class="input-label">New Map Name:</label></td>
                <td><input readonly class='input-field' v-model="newMapName"></td>
            </tr>
            <tr>
                <td><label class="input-label">Old Map Keys:</label></td>
                <td><input readonly class='input-field' v-model="oldKeys"></td>
            </tr>
            <tr>
                <td><label class="input-label">New Map Keys:</label></td>
                <td><input readonly class='input-field' v-model="newKeys"></td>
            </tr>
        </table>
        <p class="input-label">Input params in Yaml:</p>
        <textarea v-model="yamlParam" class="input-textarea">
                </textarea>
        <table style="width:495px">
            <tr>
                <td align="center" valign="middle"><button class="function-button" v-on:click="praseYaml">Prase Yaml</button></td>
                <td align="center" valign="middle"><button class="function-button" v-on:click="convertKeys">Build Code</button></td>
            </tr>
        </table>
        <div class='result-div'>
            <div class="toolbar" v-clipboard:copy="content" v-clipboard:success="onCopy" v-clipboard:error="onError">copy</div>
            <pre class="result-pre"><code v-html="content"></code></pre>
        </div>
    </div>
    <script>
        var converter = new Vue({
            el: '#param-div',
            data: {
                title: 'Map Key Converter',
                oldMapName: 'paramMap',
                newMapName: 'paramMap',
                oldKeys: '',
                newKeys: '',
                yamlParam: 'oldMapName: paramMap\nnewMapName: paramMap\noldKeys: \nnewKeys: \n\n# keyMapping is not required \nkeyMapping: \n oldKey: newKey',
                content: ''
            },
            methods: {
                convertKeys: function() {
                    this.praseYaml();
                    var oldParams = this.oldKeys.split(",");
                    var newParams = this.newKeys.split(",");
                    var codeResult = new Array;
                    for (var i = 0; i < oldParams.length; i++) {
                        codeResult.push(this.newMapName + ".put(\"" + newParams[i] + "\"," + this.oldMapName + ".get(\"" + oldParams[i] + "\"));");
                    }

                    this.content = '';
                    for (var s in codeResult) {
                        this.content += codeResult[s] + "\n";
                    }
                },
                praseYaml: function() {
                    let jsonStr;
                    try {
                        jsonStr = jsyaml.load(converter.yamlParam);
                        if (typeof jsonStr != 'object' || !jsonStr) alert("Illegal Yaml!");
                    } catch (e) {
                        alert('Illegal Yaml!');
                        return;
                    }
                    if (jsonStr.oldMapName == null) jsonStr.oldMapName = '';
                    this.oldMapName = jsonStr.oldMapName;
                    if (jsonStr.newMapName == null) jsonStr.newMapName = '';
                    this.newMapName = jsonStr.newMapName;
                    if (jsonStr.oldKeys == null) jsonStr.oldKeys = '';
                    this.oldKeys = jsonStr.oldKeys;
                    if (jsonStr.newKeys == null) jsonStr.newKeys = '';
                    this.newKeys = jsonStr.newKeys;
                    for (var key in jsonStr.keyMapping) {
                        if (key == null || jsonStr.keyMapping[key] == null) break;

                        if ("" == this.oldKeys || this.oldKeys == null) this.oldKeys = key;
                        else this.oldKeys += "," + key;
                        if ("" == this.newKeys || this.newKeys == null) this.newKeys = jsonStr.keyMapping[key];
                        else this.newKeys += "," + jsonStr.keyMapping[key];
                    }

                },
                onCopy: function() {
                    alert("copy sucess")
                },
                onError: function() {
                    alert("copy error")
                }
            }
        })
    </script>
</body>

</html>