<html>

<head>
    <meta charset="UTF-8">
    <title>Docs</title>

    <link rel="stylesheet" href="editor.md/css/editormd.min.css" />
    <!-- <link rel="stylesheet" href="editormd/css/editormd.preview.css" /> -->

    <!--引入js文件-->
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="js/jquery.min.js"></script>
    <script src="editor.md/editormd.js"></script>
    <script src="editor.md/editormd.min.js"></script>
    <script src="editor.md/lib/marked.min.js"></script>
    <script src="editor.md/lib/prettify.min.js"></script>
    <script src="editor.md/lib/raphael.min.js"></script>
    <script src="editor.md/lib/underscore.min.js"></script>
    <script src="editor.md/lib/sequence-diagram.min.js"></script>
    <script src="editor.md/lib/flowchart.min.js"></script>
    <script src="editor.md/lib/jquery.flowchart.min.js"></script>
    <script src="js/vue-clipboard.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <style>
        * {
            box-sizing: content-box;
            width: 100%;
        }

        .mdWindow {
            /* width: 900px;
            height: 900px; */
            position: relative;
            border: 5px solid gray;
            background-color: white;
            padding: 18px;
            margin: 18px;
        }

        .doc-sidebar {
            text-align: center;
            overflow-y: auto;
            float: left;
            border-right: 1px solid #f0f2f1;
            padding-left: 25px;
        }

        .doc-sidebar>ul {
            text-align: center;
            font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
            font-size: 20px;
            display: inline-block;
            color: #423636;
            width: 200px;
            border: 4px solid gray;
            background-color: whitesmoke;
            padding: 4px;
            margin: 4px;
            /* list-style: none;
            padding: 0;
            margin: 0; */
        }

        .doc-sidebar>ul>li {
            text-align: center;
            font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
            font-size: 13px;
            color: #423636;
            width: 155px;
            height: 18px;
            border: 8px solid gray;
            background-color: whitesmoke;
            padding: 8px;
            margin: 8px;
            list-style-type: none;
            /* font-size: 18px;
            font-weight: 400;
            padding: 0010px;
            margin-top: 5px; */
        }
    </style>
</head>

<body>
    <!-- [if lt IE 9]><div class="notice chromeframe">您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank" href="http://browsehappy.com">立即升级</a></div><![endif] -->
    <textarea id="page-content" style="display:none;"> </textarea>

    <div id="test-editormd">
        <textarea id='edit-content' style="display:none;"></textarea>
    </div>


    <div id="tools-div" style="height: auto;width: auto;">
        <div class="doc-sidebar" :style="{'width':toolCatWidth,'height':toolCatHeight }">
            <ul onclick="editThePage()">Edit the page
            </ul>
            <ul>Category
                <tool-item v-for="item in Category" :tool="item" :key="item.id">
                </tool-item>
            </ul>
            <ul>Resource
                <tool-item v-for="item in Resource" :tool="item" :key="item.id">
                </tool-item>
            </ul>
        </div>
        <div id="md-to-html" class='mdWindow' :style="{'width':toolWindowWidth,'height':toolWindowHeight }">
            <textarea id='md-content' style="display:none;">### Hello world!</textarea>
        </div>

    </div>
    <div id="toastDiv" class="tooltip-inner"
        style="text-align:center;width:100px;top:80%; left:50%;position:absolute; margin-top:0px;margin-left:-50px;display:none;font-size:14px">
    </div>




    <script type="text/javascript">
        var testEditor;

        function editThePage() {

            console.log('edit');
            var centent = $('#page-content').val();
            if (centent == undefined || centent == null || centent == '') {
                alert('choose a file first');
                return;
            }
            $("#tools-div").hide();
            $('#edit-content').val(centent);
            console.log("----------------- centent ----------------\n" + centent);

            testEditor = editormd("test-editormd", {
                width: "90%",
                height: "70%",
                syncScrolling: "single",
                path: "editor.md/lib/"
            });
        }

        $.extend({
            getUrlVars: function () {
                var vars = [], hash;
                var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < hashes.length; i++) {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                }
                return vars;
            },
            getUrlVar: function (name) {
                return $.getUrlVars()[name];
            }
        });

        $(function () {

            // Getting URL var by its nam
            var path = $.getUrlVar('path');
            // var path=escape(path).replace(/\+/g, '%2B').replace(/\"/g,'%22').replace(/\'/g, '%27').replace(/\//g,'%2F');
            var mdContent = "";
            reqPath = '/csnotes' + path;
            console.log('reqPath:' + reqPath);
            var xhr = new XMLHttpRequest();
            xhr.open('get', reqPath);
            xhr.send('')
            xhr.onload = function () {
                mdContent += xhr.responseText;
                // console.log(mdContent);
                if (mdContent.indexOf(".md") != -1) mdContent = mdContent.replace(/\[(.*)\]\((\/.*)\)/g, "[$1](/csnotes/html/docs.html?path=$2)");//链接格式修正
                else mdContent = mdContent.replace(/\[(.*)\]\((\/.*)\)/g, "[$1](/csnotes$2)");//链接格式修正
                if (path == undefined || path == null || path == '') {
                    mdContent = '';
                }
                $('#md-content').val(mdContent);
                $('#page-content').val(mdContent);
                // console.log($('#md-content').val());
                editormd.markdownToHTML("md-to-html", {
                    htmlDecode: "style,script,iframe", //可以过滤标签解码
                    emoji: true,
                    taskList: true,
                    tex: true,               // 默认不解析
                    flowChart: true,         // 默认不解析
                    sequenceDiagram: true,  // 默认不解析
                });
                //初始化代码copy方法
                initCopyMethod();
                //绑定数据源
                initVueApp();
            }
        });

        function initCopyMethod() {
            codeId = 0;
            $("#md-to-html code").each(function () {
                var $codeBlock = $(this);
                var codeBlockHtml = $codeBlock.html();
                var popoverMsg = "";
                //若在代码块中則返回
                if ($codeBlock.parent().prop("tagName") == "LI" && $codeBlock.parent().parent().prop("tagName") == "OL") {
                    var hasLinenumsClass = $codeBlock.parent().parent().attr("class") && !$codeBlock.parent().parent().attr("class").split(" ").every(function (str) { return str != "linenums" });
                    //判断是否有 linenums 样式，包含則返回
                    if (hasLinenumsClass) {
                        popoverMsg = "点击复制本行";//在代碼塊中
                    } else {
                        popoverMsg = "点击复制";//不在代碼塊中
                    }
                } else {
                    popoverMsg = "点击复制";//不在代碼塊中
                }
                // @click:getOneLineCode(event)

                codeHtml = '<span id="codeNum' + codeId + '" v-clipboard:copy="getOneLineCode(' + codeId + ')" v-clipboard:success="onCopy" v-clipboard:error="onError" title="' + popoverMsg + '" data-toggle="popover" data-content="' + popoverMsg + '">' + codeBlockHtml + '<span></code>';
                $codeBlock.html(codeHtml)
                codeId++;
            })

            $("#md-to-html pre>ol ").each(function () {
                var $linedCodeBlock = $(this);
                var hasLinenumsClass = !$(this).attr("class").split(" ").every(function (str) { return str != "linenums" });
                //判断是否有 linenums 样式，不包含則返回
                if (!hasLinenumsClass) { return; }
                linedCodeHtml = $linedCodeBlock.html();
                linedCodeHtml = '<button id="codeNum' + codeId + '" style="width:60px;padding:1px;margin:5px;color:grey;" v-clipboard:copy=getLinedCode(' + codeId + ') v-clipboard:success="onCopy" v-clipboard:error="onError" >copy</button>' + linedCodeHtml;
                $linedCodeBlock.html(linedCodeHtml)
                codeId++;
            })
        }

        Vue.component('tool-item', {
            props: ['tool'],
            template: '<li @click="tool.method">{{ tool.content }}</li>'
        })

        function initVueApp() {
            var toolsApp = new Vue({
                el: '#tools-div',
                data() {
                    return {
                        toolUrl: '',
                        toolWindowWidth: window.innerWidth - 400 + 'px',
                        toolWindowHeight: window.innerHeight - 130 + 'px',
                        toolCatWidth: '260px',
                        toolCatHeight: window.innerHeight - 100 + 'px',
                        Category: [{
                            id: 0,
                            content: 'Hardware',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/csnotes/hw/SUMMARY.md', '_self');
                                // window.open("FormatterTools/SQLFormatter.html"); //,'_self'                      
                            }
                        },
                        {
                            id: 1,
                            content: 'OperationSystem',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/csnotes/os/SUMMARY.md', '_self');
                                // window.open("FormatterTools/JsonFormatter.html"); //,'_self'                      
                            }
                        }, {
                            id: 2,
                            content: 'DataStructure',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/csnotes/ds/SUMMARY.md', '_self');
                                // window.open("FormatterTools/JsonFormatter.html"); //,'_self'                      
                            }
                        },
                        {
                            id: 3,
                            content: 'Tools',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/csnotes/tools/SUMMARY.md', '_self');
                                // window.open("FormatterTools/JsonYamlConverter.html"); //,'_self'                      
                            }
                        },
                        {
                            id: 4,
                            content: 'DataBase',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/csnotes/db/SUMMARY.md', '_self');
                                // window.open("FormatterTools/JsonYamlConverter.html"); //,'_self'                      
                            }
                        },
                        {
                            id: 5,
                            content: 'C',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/csnotes/c/SUMMARY.md', '_self');
                                // window.open("FormatterTools/JsonYamlConverter.html"); //,'_self'                      
                            }
                        },
                        {
                            id: 6,
                            content: '.Net',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/csnotes/dotnet/SUMMARY.md', '_self');
                                // window.open("FormatterTools/JsonYamlConverter.html"); //,'_self'                      
                            }
                        },
                        {
                            id: 7,
                            content: 'Java',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/csnotes/java/SUMMARY.md', '_self');
                                // window.open("FormatterTools/JsonYamlConverter.html"); //,'_self'                      
                            }
                        },
                        {
                            id: 8,
                            content: 'Go',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/csnotes/go/SUMMARY.md', '_self');
                                // window.open("FormatterTools/JsonYamlConverter.html"); //,'_self'                      
                            }
                        },
                        {
                            id: 9,
                            content: 'Python',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/csnotes/py/SUMMARY.md', '_self');
                                // window.open("FormatterTools/JsonYamlConverter.html"); //,'_self'                      
                            }
                        },
                        {
                            id: 10,
                            content: 'Mobile',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/csnotes/mobile/SUMMARY.md', '_self');
                                // window.open("FormatterTools/JsonYamlConverter.html"); //,'_self'                      
                            }
                        },
                        {
                            id: 11,
                            content: 'Web',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/csnotes/web/SUMMARY.md', '_self');
                                // window.open("FormatterTools/JsonYamlConverter.html"); //,'_self'                      
                            }
                        },
                        {
                            id: 12,
                            content: 'FrontEnd',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/csnotes/fe/SUMMARY.md', '_self');
                                // window.open("FormatterTools/JsonYamlConverter.html"); //,'_self'                      
                            }
                        },
                        {
                            id: 13,
                            content: 'Dev',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/csnotes/dev/SUMMARY.md', '_self');
                                // window.open("FormatterTools/JsonYamlConverter.html"); //,'_self'                      
                            }
                        }],
                        Resource: [{
                            id: 0,
                            content: 'Common Res',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/res/通用资源链接.md', '_self');
                                // window.open("http://www.bejson.com/ui/compress_img/");
                            }
                        }, {
                            id: 1,
                            content: 'IT Res',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/res/IT资源链接.md', '_self');
                                // window.open("http://tool.oschina.net/");
                            }
                        }, {
                            id: 2,
                            content: 'IT Skills Tree',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/res/IT技能树.md', '_self');
                                // window.open("http://www.wapadd.cn/icons/awesome/index.htm");
                            }
                        }, {
                            id: 3,
                            content: 'RSS Sites',
                            method: function () {
                                window.open('/csnotes/html/docs.html?path=/res/RSS_sites.md', '_self');
                                // window.open("https://www.materialpalette.com/icons");
                            }
                        }]
                    }
                },
                methods: {
                    onCopy: function () {
                        this.toast("", "copy success")
                    },
                    onError: function () {
                        this.toast("", "copy error")
                    },
                    getOneLineCode: function (codeId) {
                        var selector = "#codeNum" + codeId;
                        var originHtml = $(selector).html();
                        // console.log($(selector));
                        var convertedText = originHtml.replace(/<(style|script|iframe)[^>]*?>[\s\S]+?<\/\1\s*>/gi, '').replace(/<[^>]+?>/g, '').replace(/\s+/g, ' ').replace(/ /g, ' ').replace(/>/g, ' ');
                        // console.log("copy:", convertedText);
                        return convertedText;
                    },
                    getLinedCode: function (codeId) {
                        var selector = "#codeNum" + codeId;
                        var originHtml = $(selector).parent().html();
                        //去除开始的 copy button
                        originHtml = originHtml.replace(/.*\<\/button\>/g, '');
                        //按 li 添加换行，放在数组中
                        var codeLinedList = originHtml.split(/\<\/li\>/g);
                        //去除其他标签
                        var convertedText = ""
                        var firstLine = true;
                        codeLinedList.forEach(function (codeLine) {
                            if (!firstLine) {
                                convertedText += "\n";
                            }
                            convertedText += codeLine.replace(/<(style|script|iframe)[^>]*?>[\s\S]+?<\/\1\s*>/gi, '').replace(/<[^>]+?>/g, '').replace(/\s+/g, '').replace(/>/g, '');//.replace(/ /g, ' ')
                            firstLine = false;
                        })
                        // console.log("copy:", convertedText);
                        return convertedText;
                    },
                    toast: function (title, content) {
                        $("#toastDiv").html(content);
                        $("#toastDiv").fadeIn(400);
                        setTimeout(function () { $("#toastDiv").fadeToggle(400); }, 1200);
                    }
                },
                mounted() {
                    const _this = this;
                    window.onresize = () => {
                        return (() => {
                            _this.toolWindowHeight = window.innerHeight - 130 + 'px';
                            _this.toolWindowWidth = window.innerWidth - 400 + 'px';
                            console.log(_this.toolWindowHeight + '*' + _this.toolWindowWidth);
                            _this.toolCatHeight = window.innerHeight - 100 + 'px';
                            _this.toolCatWidth = '260px';
                        })()
                    }
                },

            })
        }


    </script>
</body>

</html>